{% extends 'base.html' %}
{% load static %}
{% block style %}
.comments-area h4 {
    margin-bottom: 5px;}
{% endblock style %}
{% block content %}

<div class="container">
	{% if messages %}
        <div class="messages text-center">
            {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                {{ message }} <span class="close">&times;</span>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>

    <!--================Blog Area =================-->
   <section class="blog_area single-post-area section-padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="single-post">
                  <div class="feature-img">
                     <img class="img-fluid" src="{{post.image.url}}" alt="">
                  </div>
                  <div class="blog_details">
                     <h2>{{post.title}}</h2>
                     <ul class="blog-info-link mt-3 mb-4">
                        <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                        <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                     </ul>
                     
                     <p>
                        {{post.details | safe}}
                     </p>
                     
                     
                  </div>
               </div>
               <div class="navigation-top">
                  <div class="d-sm-flex justify-content-between text-center">
                     <p class="like-info"><span class="align-middle"><i class="fa fa-heart"></i></span> Lily and 4
                        people like this</p>
                     <div class="col-sm-4 text-center my-2 my-sm-0">
                        <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                     </div>
                     <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                     </ul>
                  </div>
                  <div class="navigation-area">
                     <div class="row">
                        <div
                           class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                           <div class="thumb">
                              <a href="#">
                                 <img class="img-fluid" src="img/post/preview.png" alt="">
                              </a>
                           </div>
                           <div class="arrow">
                              <a href="#">
                                 <span class="lnr text-white ti-arrow-left"></span>
                              </a>
                           </div>
                           {% if post.id > first.id %}
                           <div class="detials">
                              <p>Prev Post</p>
                              <a href="{% url 'blogsingle' id=firstpost.id %}">
                                 <h4>{{firstpost.title}}</h4>
                              </a>
                           </div>
                           {% endif %}
                        </div>
                        <div
                           class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                           {% if post.id < last.id %}
                           <div class="detials">
                              <p>Next Post</p>
                              <a href="{% url 'blogsingle' id=lastpost.id %}">
                                 <h4>{{lastpost.title}}</h4>
                              </a>
                           </div>
                           {% endif %}
                           <div class="arrow">
                              <a href="#">
                                 <span class="lnr text-white ti-arrow-right"></span>
                              </a>
                           </div>
                           <div class="thumb">
                              <a href="#">
                                 <img class="img-fluid" src="img/post/next.png" alt="">
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               
               
               <div class="comments-area">
                  <h4> Comments</h4>
                  <div class="blog-author">
                  {% for p in com %}
                  <div class="media align-items-center">
                     <img src="{% static 'img/blog/author.png' %}" alt="">
                     <div class="media-body">
                        <a href="#">
                           <h4>{{p.name}}</h4>
                        </a>
                        <p>{{p.post_comment}}</p>
                     </div>
                  </div>
                  <hr>
                  {% endfor %}
               </div>
               </div>
               <div class="comment-form">
                  <h4>Leave a Reply</h4>
                  <form class="form-contact comment_form" action="" method="POST" id="commentForm">
                     {% csrf_token %}
                     <div class="row">
                        <div class="col-12">
                           <div class="form-group">
                              <textarea class="form-control w-100" name="post_comment" id="comment" cols="30" rows="9"
                                 placeholder="Write Comment"></textarea>
                           </div>
                        </div>
                        <div class="col-sm-8">
                           <div class="form-group">
                              <input class="form-control" name="name" id="name" type="text" placeholder="Name">
                           </div>
                        </div>
                        
                     </div>
                     <div class="form-group">
                        <button type="submit" class="button button-contactForm btn_1 boxed-btn">Send Message</button>
                     </div>
                  </form>
               </div>
            </div>
            <div class="col-lg-4">
               <div class="blog_right_sidebar">
                  <aside class="single_sidebar_widget search_widget mb-5">
                     
                        <img src="{% static 'img/banner3.jpg' %}" alt="">
                       
                  </aside>
                  <aside class="single_sidebar_widget post_category_widget">
                     <h4 class="widget_title">Category</h4>
                     <ul class="list cat-list">
                        {% for p in ppost %}
                                <li>
                                    <a href="{% url 'blogcategory' id=p.id %}" class="d-flex">
                                        <p>{{p.name}}</p>
                                        <p>({{p.blog_categorys.all.count}})</p>
                                    </a>
                                </li>
                            {% endfor %}
                     </ul>
                  </aside>
                  <aside class="single_sidebar_widget popular_post_widget">
                     <h3 class="widget_title">Recent Post</h3>
                     {% for p in recent %}
                     <div class="media post_item">
                        <img height="60px" src="{{p.image.url}}" alt="post">
                        <div class="media-body">
                           <a href="{% url 'blogsingle' id=p.id %}">
                              <h3>{{p.title}}</h3>
                           </a>
                           <p>January 12, 2019</p>
                        </div>
                     </div>
                     {% endfor %}
                     
                  </aside>
                  
                  
                  <aside class="single_sidebar_widget newsletter_widget">
                     <h4 class="widget_title">Newsletter</h4>
                     <form action="" method="POST">
                           {% csrf_token %}
                           <div class="form-group">
                           <input name="email" type="email" class="form-control" onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                           </div>
                           <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">Subscribe</button>
                     </form>
                  </aside>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--================ Blog Area end =================-->

{% endblock %}