{% extends 'base.html' %}
{% block content %}

<div class="destination_details_info">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-9">
                    <div class="contact_join mt-4">
                        <h2 class="text-center mb-5">Post</h2>
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}  
                            {{ form.media }}
                            <div class="row">
                                <div class="col-lg-12 mb-5">
                                    <select name="categorys" class="custom-select mr-sm-2" required="" id="id_categorys" style="display: none;">
                                        <option selected>---------Select Category---------- </option>
                                        {% for p in post %}
                                        <option value="{{p.id}}">{{p.name}}</option>
                                        {% endfor %}
                                    </select> 
                                 </div>
                                <div class="col-lg-12 mb-3">
                                    <div class="single_input">
                                        <input name="title" type="text" placeholder="Title ">
                                    </div>
                                </div>
                                <div class="col-lg-12 mb-5">
                                    <a class="btn-lg float-left btn">
                                        <span >Image :</span>
                                        <input type="file" name="image" multiple>
                                    </a>
                                </div>
                                <div class="col-lg-12">
                                    <div class="single_input">
                                        <textarea name="details" id="" cols="30" rows="10"placeholder="Details" ></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="submit_btn">
                                        <button class="boxed-btn4" type="submit">submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}