{% extends 'base.html' %}
{% block content %}

<div class="container">
	{% if messages %}
        <div class="messages text-center">
            {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                {{ message }} <span class="close">&times;</span>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>



    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_2">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Destinations</h3>
                        <p>Pixel perfect design with awesome contents</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <!-- where_togo_area_start  -->
    <div class="where_togo_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <div class="form_area">
                        <h3>Where you want to go?</h3>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="search_wrap">
                        <form class="search_form" action="" method="GET">
                        
                            <div class="input_field">
                                <select name="place">
                                    <option data-display="Where to go?">Where to go?</option>
                                    {% for p in post %}
                                    <option data-display="{{request.GET.p.name}}" value="{{p.name}}">{{p.name}}</option>
                                    {% endfor %}
                                </select>
                                {% comment %} <input type="text" name="place" placeholder="Where to go?" value="{{request.GET.place}}"> {% endcomment %}
                            </div>
                            <div class="input_field">
                                <input id="from-datepicker" name="date" placeholder="Date" value="{{request.GET.date}}">
                            </div>
                            {% comment %} <div class="input_field">
                                <select name="sel">
                                    <option data-display="Travel type">Travel type</option>
                                    {% for p in tpost %}
                                    <option value="{{p.name}}">{{p.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>  {% endcomment %}
                            <div class="search_btn">
                                <button class="boxed-btn4 " type="submit" >Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- where_togo_area_end  -->


    <div class="popular_places_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="filter_result_wrap">
                        <h3>Filter Result</h3>
                        <div class="filter_bordered">
                            <div class="filter_inner">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="single_select">
                                            <select>
                                                <option data-display="Country">Country</option>
                                                <option value="1">Africa</option>
                                                <option value="2">canada</option>
                                                <option value="4">USA</option>
                                              </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="single_select">
                                            <select>
                                                <option data-display="Travel type">Travel type</option>
                                                <option value="1">advance</option>
                                                <option value="2">advance</option>
                                                <option value="4">premium</option>
                                              </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="range_slider_wrap">
                                            <span class="range">Prise range</span>
                                            <div id="slider-range"></div>
                                            <p>
                                                <input type="text" id="amount" readonly style="border:0; color:#7A838B; font-weight:400;">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                    <div class="range_slider_wrap">
                                        <p>Price</p>
                                        <form action="" method="GET">
                                            {% csrf_token %}
                                            <input type="text" name="min_price" maxlength="4" size="3" value="{{ request.GET.min_price }}" >
                                            to <input type="text" name="max_price" maxlength="4" size="3" value="{{ request.GET.max_price }}"> 
                                            <input type="submit" value="Go">                                          
                                        </form>
                                    </div>
                                    </div>                               
                                </div>
                            </div>
                             <br>

                            <div class="reset_btn">
                                <button class="boxed-btn4" type="submit">Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">

                    {% for p in post %}
                        <div class="col-lg-6 col-md-6">
                            <div class="single_place">
                                <div class="thumb">
                                    <a href="{% url 'single' id=p.id %}"><img src="{{p.image.url}}" alt=""></a>
                                    <a href="{% url 'single' id=p.id %}" class="prise">${{p.price}}</a>
                                </div>
                                <div class="place_info">
                                    <a href="{% url 'single' id=p.id %}"><h3>{{p.name}}</h3></a>
                                    <p>{{p.place}} , {{p.country}}</p>
                                    <div class="rating_days d-flex justify-content-between">
                                        <span class="d-flex justify-content-center align-items-center">
                                             <i class="fa fa-star"></i> 
                                             <i class="fa fa-star"></i> 
                                             <i class="fa fa-star"></i> 
                                             <i class="fa fa-star"></i> 
                                             <i class="fa fa-star"></i>
                                             <a href="#">(20 Review)</a>
                                        </span>
                                        <div class="days">
                                            <i class="fa fa-clock-o"></i>
                                            <a href="#">{{p.duration}} Days</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                        
                        
                    </div>
                    <div class="row">
                        <div class="col-lg-12">

                            <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                <li class="page-item">
                                    {% if post.has_previous %}
                                    <a href="?page=1" class="page-link" aria-label="Previous">
                                        Fast
                                    </a>
                                    {% endif %}
                                </li>
                                <li class="page-item">
                                    {% if post.has_previous %}
                                    <a href="?page={{ post.previous_page_number }}" class="page-link" aria-label="Previous">
                                        <i class="ti-angle-left"></i>
                                    </a>
                                    {% endif %}
                                </li>
                                <li class="page-item active">
                                    <a class="page-link">{{ post.number }}</a>
                                </li>
                                <li class="page-item">
                                {% if post.has_next %}
                                    <a href="?page={{ post.next_page_number }}" class="page-link" aria-label="Next">
                                        <i class="ti-angle-right"></i>
                                    </a>
                                {% endif %}
                                </li>
                                <li class="page-item">
                                {% if post.has_next %}
                                    <a href="?page={{ post.paginator.num_pages }}" class="page-link" aria-label="Next">
                                        Last
                                    </a>
                                {% endif %}
                                </li>
                            </ul>
                        </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- newletter_area_start  -->
        <div class="newletter_area overlay">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-10">
                        <div class="row align-items-center">
                            <div class="col-lg-5">
                                <div class="newsletter_text">
                                    <h4>Subscribe Our Newsletter</h4>
                                    <p>Subscribe newsletter to get offers and about
                                        new places to discover.</p>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="mail_form">
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    <div class="row no-gutters">
                                        <div class="col-lg-9 col-md-8">
                                            <div class="newsletter_field">
                                                <input name="email" type="email" placeholder="Your mail" >
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4">
                                            <div class="newsletter_btn">
                                                <button class="boxed-btn4 " type="submit" >Subscribe</button>
                                            </div>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- newletter_area_end  -->
    <div class="recent_trip_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb_70">
                        <h3>Recent Blog</h3>
                    </div>
                </div>
            </div>
            <div class="row">
            {% for p in blogpost %}
                <div class="col-lg-4 col-md-6">
                    <div class="single_trip">
                        <div class="thumb">
                            <img src="{{p.image.url}}" alt="">
                        </div>
                        <div class="info">
                            <div class="date">
                                <span>Oct 12, 2019</span>
                            </div>
                            <a href="{% url 'blogsingle' id=p.id %}">
                                <h3>{{p.title}}</h3>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>


    
  {% endblock content %}